@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>BeerCellier is a pet project for learning ASP.NET MVC framework.</h3>

<p>Optionally, you can use it to manage your stocks of premium and crafted beers.</p>
