@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BeerCellier</h1>
    <p class="lead">Manage your beer stocks efficiently</p>
    <p><a href="/" class="btn btn-primary btn-lg">Go in my cellier &raquo;</a></p>
</div>