@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BeerCellier</h1>
    <p class="lead">Manage your beer stocks efficiently</p>
    <p>
        @Html.ActionLink("Go in my cellar »", "Index", "Cellar", null, new  { @class = "btn btn-primary btn-lg" })
    </p>
</div>