@model IEnumerable<BeerFridge.Models.Beer>

@{
    ViewBag.Title = "My Cellar";
}

<h2>My Cellar</h2>

<br />

<div>
    <form method="get" action="@Url.Action("Search")" data-beercellier-ajax="true" data-beercellier-target="#beerList">
        <input type="search" name="searchTerm" />
        <input type="submit" value="Search" />
    </form>
</div>

<br />

@Html.Partial("_BeerList", Model)